*{
    padding: 0;
    margin: 0;
    font-family:
    "HM Sans Regular", HMSansHebrew-Regular, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-weight: bolder;
}

.navmainbox{
    margin-top: 16px;
    margin-left: 32px;
    width:1314px ;
    height:131px ;
    
}
.navtop{
    width: 1314px;
    height: 66px;
    display: flex;
    align-items: center;
    position: relative;
}
.navtop1{
    padding-top: 9px;
    width: 438px;
    height: 48px;

}
.navtop1 ul{
display: flex;
list-style: none;
align-items: center;
}
.navtop1 ul li{
    padding: 8px;
}
.hm{
    padding-left:243px ;
    padding-top: 23px;
}
.navtop2{
    width: 438px;
    height: 26px;
    padding-left: 250px;
}
.navtop2 li{
    padding-right: 7px;
    margin-left: 14px;
    font-size: 14px;

}
.navtop ul{
    list-style:none ;
    display: flex;
}
.shop{
    padding-top:5px ;
}
.navb{
    margin-left: 168px;
    margin-top: 44px;
     width: 962px;
    height: 20px;
    position: absolute;

} 
.navb ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 104px;
    margin-right: 104px;

}
.search{
    padding-left: 1131px;
    padding-top: 32px;
    width: 177px;
    height: 32px;

}
.search ul{
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: underline;
     
}
.home{
    margin-left: 186px;
    margin-top: 40px;
    width: 1008px;
    height: 696px;
    position: relative;

}
.hometop{
    margin-left: 25px;
    margin-right: 25px;

}
.home ul{
    
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.home li{
    width: 320px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.homepage1{
 padding-top: 24px;
 padding-left: 24px;
}
.home1btn button{
    color: #222222;
    position: absolute;
    top: 91%;
    margin-left: 433px;
    background-color:white;
    width:91px ;
    height:33px ;
    
}
.home1btn button:hover{
    background-color: #f3f3f3;
    border: 2px solid black;
}
.home2{
    margin-top: 24px;
    margin-left: 210px;
    width: 960px;
    height: 640px;
    position: relative;

}
.home2cpt{
    position: absolute;
    top: 40%;
    margin-left:0px ;
    

}
.home2cnt1{
    position: absolute;
    top:58% ;
    width: 91px;
    height: 33px;
    margin-left: 152px;


}
.home2cnt1:hover{
    background-color: #f3f3f3;
}
.home2cnt2{
    width: 960px;
    height: 132px;
    margin-top: 24px;
    margin-left: 210px;
    position: relative;
    
}
.home2cnt3{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 20%;
    width: 960px;
    height: 40px;
    margin-left: 60px;
}
.home2cnt3 h4{
    font-size: larger;
}
.home2cnt4{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 45%;
    width: 960px;
    height: 19px;
    margin-left: 60px;

}
.home2cnt5 ul{
 position: absolute;
 justify-content: center;
 top: 65%;
 display: flex;
 width: 960px;
 height: 33px;
 margin-left: 60px;


}
.home2cnt5 li{
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home2cnt5 button{
    background-color:#222222;
    color: #f3f3f3;
    

}
.home3cnt1{
    margin-top: 24px;
   width: 910px;
   height: 40px;
   margin-left: 210px; 
 

}
.home3cnt2{
    width: 984px;
    height: 99px;
    margin-left: 210px;
  
    
}
.home3cnt2 ul{
    display: flex;
    list-style: none;
   

}
.home3cnt2 li{
    width: 123px;
    height: 99px;
    
    display: flex;
    justify-content: center;

}
.home3cnt3{
    width: 984px;
    height: 64px;
    margin-left: 210px;
  


}
.home3cnt3 ul{
    display: flex;
    list-style: none;
}
.home3cnt3 li{
    width: 123px;
    height: 64px;
   
    display: flex;
    justify-content: center;
    text-align: center;
}
.home4{
    width: 960px;
    height: 640px;
    margin-top: 24px;
    margin-left: 210px;
  
    position: relative;

}
.home4cnt1{
    position: absolute;
    top: 41%;
 margin-left: 29px;
 display: flex;
 align-items: center;
    width: 182px;
    height: 73px;
    background-color: #222222;
    border-radius: 10px;
    
}
.home4cnt1 p{
    font-size:20px ;
    color: aliceblue;
  
}
.home4cnt2{
    position: absolute;
    top: 70%;
    margin-left: 375px;
  
}
.home4cnt3{
    position: absolute;
    top: 80%;
    margin-left:331px ;
    color: #ffffff;


}
.home4cnt4 ul{
    position: absolute;
    top: 90%;
    display: flex;
    list-style: none;
    margin-left:352px;
    
}
.home4cnt4 button{
 width: 99px;
 height: 33px;


}
.home4cnt4 li{
    padding-left: 20px;
}
.home4spc3{
    width: 251px;
    height:24px ;
    margin-top:24px ;
    margin-left: 241px;
    display: flex;
    justify-content: center;
}
.home5{
    width:198px ;
    height:297px ;
    margin-top: 8px;
margin-left:258px ;
}
.home5cnt1{
    width:198px ;
    height: 58px;
    margin-top:8px ;
    margin-left:258px ;

}
.home6{
    width:960px ;
    height: 640px;
    margin-top: 25px;
    margin-left:210px ;
   position: relative;
}

.home6cnt1{
   
    width:190px ;
    height:73px ;
    position: absolute;
    top: 60%

    
}
.home6cnt1 button{
    background-color: #222222;
    width:190px ;
    height:73px ;
    margin-left: 90px;
    color: #f3f3f3;

}
.centercnt{
    position: absolute;
    top: 80%;
    margin-left: 243px;
    color: #f3f3f3;
   
    text-align: center;

}
.centercnt h2{
   font-size: 36px; 
}
.centercnt p{
    font-size: 20px;
}  

.apps{
    width: 960px;
    height: 132px;
    margin-left: 210px;
    margin-top: 30px;
    background-color: #f1ebdf;;

} 
.appscnt{
    text-align: center;
    padding-top: 30px;
   
}
.appscnt h4{
    font-size: 22px;
    color: #e50010;
}
.appscnt p{
    font-size: 12px;
}
.ostypes{
    display: grid;
    grid-template-columns: repeat(3,10px);
    column-gap: 150px;
    margin-left: 250px;
    margin-top: 23px;
    
}
.ostypes button{
 width: 125px;
 height: 33px;
 font-weight: bolder;
}
.arrival{
    width:960px ;
    height:24px ;
    margin-left: 210px;
    margin-top: 10px;
}
.arrival h4{
    font-size: 26px;
}
.catagoriesbtn{
    width:960px ;
    height:41px ;
    display: grid;
    grid-template-columns: repeat(7,10px);
    column-gap:100px ;
    margin-left: 210px;
    margin-top: 20px;
}
.catagoriesbtn button{
    width: 91px;
    height: 41px;
    border-radius:20px ;
    font-weight: bolder;
}
.ladiesbtn{
    background-color: #e50010;
    color: #f3f3f3;
}
.ladiesmodel{
    display: grid;
    grid-template-columns: repeat(4,10px);
    column-gap: 250px;
    margin-left: 210px;
    margin-top: 10px;
}
.ladiesmodel img{
    width: 222px;
    height:333px ;
   
}
.modeltext{
    display: grid;
    grid-template-columns: repeat(4,10px);
    column-gap: 250px;
    margin-left: 210px;
   
}
.modeltext p{
    width: 222px;
    height:auto ;
   
    font-size: 14px;
}
.magazine{
width: 100%;
height: 624px;
background-color: #f4eddd;
margin-top: 30px;
}
.magazinetext{
    padding-top: 70px;
    text-align: center;
    line-height:25px ;

}
.magazinetext p{
    padding-top: 5px;
    font-size: 16px;
}
.magazinetext h1{
    font-size: 32px;
}
.story{
    display: grid;
    grid-template-columns: repeat(3,10px);
    column-gap: 300px;
    margin-left: 234px;
    padding-top: 80px;
}
.storytext{
    display: grid;
    grid-template-columns: repeat(3,10px);
    column-gap:300px ;
    margin-left: 234px;

}
.text{
    width: 288px;
    height: 180px;
    background-color: #f3f3f3;
    text-align: center;
}
.text h3{
    font-size: 18px;
    padding-top: 20px;
}
.text h6{
  padding-top:  60px;
}
.footer{
    width:100% ;
    height:559px ;
    background-color: #e4e4e4;
    margin-top: 20px;
} 
.footerlist{
    display: grid;
    grid-template-columns: repeat(4,10px);
    column-gap: 250px;
    margin-left: 210px;
    padding-top: 62px;
    line-height: 25px;
} 
.shop{
    width:220px ;
    height: auto;
  
} 
.shop p{
    font-size: 12px;
}
.shop H4{
    font-weight: bolder;
    font-size: 18px;
}
.footerlist2{
    display: grid;
    grid-template-columns: repeat(5,10px);
    column-gap:75px ;
    padding-top: 25px;
    justify-content: center;
}
.footertext{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.footerlogo{
    display: flex;
    justify-content: center;
    padding-top: 53px;
}
.bottomtext{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 14px;
}